<a href="https://colab.research.google.com/github/ahelbaj-iut90/Projet_DEV_WEB/blob/main/TD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd

dogs = pd.read_csv("/dogs.csv")
dogs
unpickled_df = pd.read_pickle("/walmart_sales.pkl")
unpickled_df
#dogs.head()  #affiche le dÃ©but du tableau
#dogs.tail()  #affcihe la fin du tableau
dogs.describe() #affiche les variables min max etc
#dogs.index   #donne les index du tableau
#dogs.shape   #donne le nombre de lignes et de colonnes
#dogs.info    #donne les infos du tableau
dogs.values   #donne les valeur du tableau sous forme de liste
dogs.sort_values("weight_kg0")
dogs.sort_values(["weight_kg0", "height_cm"])
dogs.sort_values("weight_kg0", ascending=False)
dogs[["breed","color","height_cm"]]
dogs["height_cm"] > 50
dogs[dogs["height_cm"]>50]
dogs[dogs["breed"]=="Labrador"]
is_black_or_brown = dogs["color"].isin(["Black","Brown"])
dogs[is_black_or_brown]

      name     breed  color  height_cm  weight_kg0
0    Bella  Labrador  Brown         56         251
1  Charlie    Poodle  Black         43         232
2     Lucy      Chow  Brown         46         223
4      Max  Labrador  Black         59         295